@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500;700&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 255, 255, 255;
  --background-start-rgb: 42, 42, 42;
  --background-end-rgb: 42, 42, 42;
}

body {
  color: rgb(var(--foreground-rgb));
  background: linear-gradient(
      to bottom,
      transparent,
      rgb(var(--background-end-rgb))
    )
    rgb(var(--background-start-rgb));
  font-family: 'Roboto', sans-serif;
}

/* 自定义高亮规则 */
.custom-highlight {
  background-color: #FFFF00 !important; /* 荧光黄色背景 */
  color: black !important; /* 黑色文字 */
  padding: 0 4px; /* 添加 padding 确保文本不会紧贴边界 */
  border-radius: 3px; /* 圆角 */
  font-weight: bold;
}