@import url('https://fonts.googleapis.com/css2?family=Noto+Serif+SC&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 255, 255, 255;
  --background-start-rgb: 15, 23, 41;
  --background-end-rgb: 15, 23, 41;
}

body {
  color: rgb(var(--foreground-rgb));
  background: rgb(var(--background-start-rgb));
}

.font-song {
  font-family: 'Noto Serif SC', serif;
}

@keyframes fadeIn {
  from { opacity: 0.5; transform: translateY(20px); }
  to { opacity: 1; transform: translateY(0); }
}

.animate-fade-in {
  animation: fadeIn 0.5s ease-out forwards;
}
